<div class="container">
    <h3>Login</h3>
    <form action="/admin/login" method="post">
        <input type="email" name="email" required placeholder="email" />
        <input type="password" name="password" required placeholder="password" />
        <input type="submit" class="btn" value="Login"/>
    </form>
</div>