<div class="container">
    <h3>Add new category</h3>
    <form action="/admin/categories" method="POST">
        <input type="text" name="title" required placeholder="Title" />
        <input type="submit" class="btn" value="submit"/>
    </form>
</div>