<div class="container">
    <h3>Add new post</h3>
    <form action="/posts" method="post" enctype="multipart/form-data">
        <input type="text" name="title" required placeholder="Title" />
        <select name="category">
            <option value="">Category</option>
            <% categories.forEach(function(category){ %>
                <option value="<%- category._id %>"> <%- category.title %> </option>
            <% }); %>

        </select>
        <input type="file" class="form-control-file" name="cover" accept=".jpg,.jpeg,.png">
        <textarea name="description" placeholder="description"></textarea>
        <input type="submit" class="btn" value="submit"/>
    </form>
</div>